# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Environments
.venv/
venv/
env/

# Testing / caches
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# OS / editor
.DS_Store
*.swp
.vscode/
.idea/
